.page_404 {
  padding:40px 0;
  background:#fff;
  font-family: rubik,arial,sans-serif;;
}

.page_404 img {
  width:100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
  width: 800px;
  margin: 0 auto;
 }


 .four_zero_four_bg h1 {
    font-size:80px;
 }

  .four_zero_four_bg h3 {
    font-size:80px;
  }

  .link_404 {
    color: #fff!important;
    padding: 10px 20px;
    background:#4481c3;
    margin: 20px 0;
    font-size: 19px;
    display: inline-block;
    font-style: oblique;
  }

  .link_404:hover {
    text-shadow: 1px 0 0, 0.5px 0 0, -1px 0 0;}

  .content_box_404 {
    margin-top:-50px;
    transform: skew(-15deg);
  }

  .text_center {
    text-align: center;
  }
